# Convert numbers to string
Input:  int, 3 digits, >=0, < 1000
Output: 314 -> “THREE HUNDRED FOURTEEN”
        101 -> “ONE HUNDRED ONE”

In [1]:
# Define Dictionaries:
d2str = {0: "",
         1: "one", 
         2: "two", 
         3: "three", 
         4: "four", 
         5: "five", 
         6: "six", 
         7: "seven", 
         8: "eight", 
         9: "nine"}

d2str2 = {2: "twenty", 
          3: "thirty", 
          4: "fourty", 
          5: "fifty", 
          6: "sixty", 
          7: "seventy", 
          8: "eighty", 
          9: "ninety"}

teens = {10: "ten", 
         11: "eleven", 
         12: "twelve", 
         13: "thirteen", 
         14: "fourteen", 
         15: "fifteen", 
         16: "sixteen", 
         17: "seventeen", 
         18: "eighteen", 
         19: "nineteen"}

scale = {0: "", 
         1: "thousand", 
         2: "million", 
         3: "billion", 
         4: "trillion", 
         5: "quadrillion", 
         6: "quintillion", 
         7: "sextillion", 
         8: "septillion", 
         9: "octillion", 
         10: "Nonillion", 
         11: "Decillion"}

In [2]:
class Solution:
    def num2str(self, n: int) -> str:
        if n == 0:
            return "zero"
        sol = []
        level = len(str(n)) - 1
        scale_describe = False
        while level >= 0:
            val = n // (10**level)
            print("level",level)
            print("val",val)
            # For the last digit you want to return the solution
            if level == 0:
                sol.append(d2str[val])
                break
            
            # Otherwise, get the number with digit description
            if level % 3 == 2 and val > 0:
                sol.extend([d2str[val], "hundred"])
                scale_describe = True
            elif level % 3 == 1 and val > 0:
                # Check if it's a teen number
                if val == 1:
                    # Skip one digit
                    level -= 1
                    val = n // (10**(level))
                    # If it's the last teen number return early
                    if level == 0:
                        sol.append(teens[val])
                        break
                    # Otherwise return the teen number and the scale
                    sol.extend([teens[val], scale[int (level/3)]])
                else:
                    sol.append(d2str2[val])
                scale_describe = True
            elif val > 0:
                sol.extend([d2str[val], scale[int (level/3)]])
            elif scale_describe:
                sol.append(scale[int (level/3)])
                scale_describe = False
            n -= val * 10**level
            level -= 1
            print("Solution: ", sol)
            print("----------------")
        sol = " ".join(sol)
        return sol

In [3]:
Solution().num2str(363)

level 2
val 3
Solution:  ['three', 'hundred']
----------------
level 1
val 6
Solution:  ['three', 'hundred', 'sixty']
----------------
level 0
val 3

'three hundred sixty three'

In [4]:
Solution().num2str(1000000000014)

level 12
val 1
Solution:  ['one', 'trillion']
----------------
level 11
val 0
Solution:  ['one', 'trillion']
----------------
level 10
val 0
Solution:  ['one', 'trillion']
----------------
level 9
val 0
Solution:  ['one', 'trillion']
----------------
level 8
val 0
Solution:  ['one', 'trillion']
----------------
level 7
val 0
Solution:  ['one', 'trillion']
----------------
level 6
val 0
Solution:  ['one', 'trillion']
----------------
level 5
val 0
Solution:  ['one', 'trillion']
----------------
level 4
val 0
Solution:  ['one', 'trillion']
----------------
level 3
val 0
Solution:  ['one', 'trillion']
----------------
level 2
val 0
Solution:  ['one', 'trillion']
----------------
level 1
val 1

'one trillion fourteen'

In [5]:
Solution().num2str(239234230000002132139)

level 20
val 2
Solution:  ['two', 'hundred']
----------------
level 19
val 3
Solution:  ['two', 'hundred', 'thirty']
----------------
level 18
val 9
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion']
----------------
level 17
val 2
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred']
----------------
level 16
val 3
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty']
----------------
level 15
val 4
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion']
----------------
level 14
val 2
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred']
----------------
level 13
val 3
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred', 'thirty']
----------------
level 12
val 0
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred', 'thirty', 'trillion']
----------------
level 11
val 0
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred', 'thirty', 'trillion']
----------------
level 10
val 0
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred', 'thirty', 'trillion']
----------------
level 9
val 0
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred', 'thirty', 'trillion']
----------------
level 8
val 0
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred', 'thirty', 'trillion']
----------------
level 7
val 0
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred', 'thirty', 'trillion']
----------------
level 6
val 2
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred', 'thirty', 'trillion', 'two', 'million']
----------------
level 5
val 1
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred', 'thirty', 'trillion', 'two', 'million', 'one', 'hundred']
----------------
level 4
val 3
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred', 'thirty', 'trillion', 'two', 'million', 'one', 'hundred', 'thirty']
----------------
level 3
val 2
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred', 'thirty', 'trillion', 'two', 'million', 'one', 'hundred', 'thirty', 'two', 'thousand']
----------------
level 2
val 1
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred', 'thirty', 'trillion', 'two', 'million', 'one', 'hundred', 'thirty', 'two', 'thousand', 'one', 'hundred']
----------------
level 1
val 3
Solution:  ['two', 'hundred', 'thirty', 'nine', 'quintillion', 'two', 'hundred', 'thirty', 'four', 'quadrillion', 'two', 'hundred', 'thirty', 'trillion', 'two', 'million', 'one', 'hundred', 'thirty', 'two', 'thousand', 'one', 'hundred', 'thirty']
----------------
level 0
val 9

'two hundred thirty nine quintillion two hundred thirty four quadrillion two hundred thirty trillion two million one hundred thirty two thousand one hundred thirty nine'