# Convert string to number
Convert a string that describes a number into a integer

Input:  string   ex: “THREE HUNDRED FOURTEEN”

Output: num    ex: 314

In [1]:
# Define Dictionaries:
str2d = {"": 0,
         "one": 1, 
         "two": 2, 
         "three": 3, 
         "four": 4, 
         "five": 5, 
         "six": 6, 
         "seven": 7, 
         "eight": 8, 
         "nine": 9}

str2d2 = {"twenty": 2, 
          "thirty": 3, 
          "fourty": 4, 
          "fifty": 5, 
          "sixty": 6, 
          "seventy": 7, 
          "eighty": 8, 
          "ninety": 9}

teens = {"ten": 10, 
         "eleven": 11, 
         "twelve": 12, 
         "thirteen": 13, 
         "fourteen": 14, 
         "fifteen": 15, 
         "sixteen": 16, 
         "seventeen": 17, 
         "eighteen": 18, 
         "nineteen": 19}

scale = {"": 0, 
         "thousand": 1, 
         "million": 2, 
         "billion": 3, 
         "trillion": 4, 
         "quadrillion": 5, 
         "quintillion": 6, 
         "sextillion": 7, 
         "septillion": 8, 
         "octillion": 9, 
         "Nonillion": 10, 
         "Decillion": 11}

all_descriptors = list(str2d.keys())
all_descriptors.extend(list(str2d2.keys()))
all_descriptors.extend(list(teens.keys()))
all_descriptors.extend(list(scale.keys()))
all_descriptors = set(all_descriptors)

In [2]:
class Solution:
    def decimal_input(self, s: str) -> int:
        s = s.lower().split()
        if "point" not in s:
            return self.str2num(s)
        else:
            total = 0
            point_val = s[-1]
            point_index = 5
            if point_val == "hundred":
                return self.str2num(s[:point_index]) * 100 + self.str2num(s[point_index:])
            elif point_val in scale:
                return self.str2num(s[:point_index]) * 10**(3*scale[point_val]) + self.str2num(s[point_index:])
            else: # Assume point is at 0
                return self.str2num(s[:point_index]) * 10**(3*scale[point_val]) + self.str2num(s[point_index:])

        
    def str2num(self, s: list) -> int:
        sol = 0
        len_str = len(s)
        up_to_999 = 0
        for i in range(len_str):
            subtot = 0
            word = s[i]            
            if word in str2d:
                subtot = str2d[word]
                if (i+1) < len_str and (s[i+1] == "hundred" or s[i+1] in str2d2 or s[i+1] in teens):
                    subtot = subtot * 100
                    i += 1
            elif word in str2d2:
                subtot = str2d2[word] * 10
                if (i+1) < len_str and (s[i+1] == "hundred" or s[i+1] in teens or s[i+1] in str2d2) or ((i+2) < len_str and s[i+2] == "hundred"):
                    subtot *= 100
            elif word in teens:
                subtot = teens[word]
                if (i+1) < len_str and (s[i+1] == "hundred" or s[i+1] in teens or s[i+1] in str2d2):
                    subtot *= 100
            if word in scale:
                sol += up_to_999 * 10**(3*scale[word])
                up_to_999 = 0
            up_to_999 += subtot
        sol += up_to_999
#         if word == "dollars":
#             return "$" + str(sol) + " dollars"
#         if word == "cents":
#             ans = ""
#             if sol >= 100:
#                 ans = "$" + str(sol // 100) + " dollars"
#             if sol // 100 > 0:
#                 ans = ans + " ¢" + str(sol % 100) + " cents"
#             return ans
#         if not word in all_descriptors:
#             sol = str(sol) + " " + word
        return sol

In [3]:
Solution().decimal_input('two thirty')# percent')

230

In [4]:
Solution().decimal_input('one point four billion')

5000000000000000000

In [5]:
Solution().decimal_input('twenty three hundred')

2300

In [6]:
Solution().decimal_input('nineteen eighty four')

1984

In [7]:
Solution().decimal_input('twenty twenty')

2020

In [8]:
Solution().decimal_input('eleven hundred')

1100

In [9]:
Solution().decimal_input('five thousand six hundred eleven')

5611

In [10]:
Solution().decimal_input('one thousand nine hundred twenty five')

1925

In [11]:
Solution().decimal_input("two million one hundred thirty two thousand one hundred thirty nine")

2132139

In [12]:
Solution().decimal_input('one trillion fourteen')

1000000000014